<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <style>
      .template {
        display: none;
      }
    </style>
  </head>

  <body>
    <div id="app" class="container">
      <noscript>This example page requires JavaScript.</noscript>
    </div>

    <!-- Load Vue 3 to run examples. -->
    <script src="https://unpkg.com/vue@3"></script>

    <!-- Axios is a dependency and must be loaded before UK River Data. -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../dist/uk-river-data.min.js"></script>

    <!-- Vue application template -->
    <div class="template" id="app-template">
      <div>
        <button class="btn btn-primary" @click="loadCurrent">
          Load current data
        </button>

        <div v-if="readings && readings.latest">
          <h3>Latest</h3>
          <p>
            Level {{ readings.latest.level[1] }} @{{ readings.latest.level[0] }}
          </p>
          <p>
            Flow {{ readings.latest.flow[1] }} @{{ readings.latest.flow[0] }}
          </p>
        </div>

        <h3>Flow</h3>
        <ul class="list-group">
          <li v-for="[time, value] in flow" class="list-group-item">
            {{ time }} {{ value }}
          </li>
        </ul>
        <h3>Level</h3>
        <ul class="list-group">
          <li v-for="[time, value] in level" class="list-group-item">
            {{ time }} {{ value }}
          </li>
        </ul>
      </div>
      <p>{{ version }}</p>
      <pre>{{ readings }}</pre>
    </div>

    <!-- Vue application template -->
    <script>
      const { createStationReadings } = UkRiverData;
      Vue.createApp({
        template: '#app-template',
        data() {
          return {
            stationReference: '3400TH',
            version: UkRiverData.version,
            readings: null,
          };
        },
        computed: {},

        mounted() {
          if (this.stationReference) {
            this.readings = createStationReadings(this.stationReference);
          }
        },

        methods: {
          async loadCurrent() {
            const latest = await this.readings.getLatest();
            console.log(this.readings, latest);
          },
        },
      }).mount('#app');
    </script>
  </body>
</html>
